{
  auto_https off
}

http://branchwater.sourmash.bio {
  redir https://branchwater.jgi.doe.gov{uri} permanent
}

http://minke.sourmash.bio {
  redir https://branchwater.jgi.doe.gov{uri} permanent
}

http://api.branchwater.sourmash.bio {
  redir https://branchwater-api.jgi.doe.gov{uri} 308
}

http://mastiff.sourmash.bio {
  redir https://branchwater-api.jgi.doe.gov{uri} 308
}

http://branchwater-api.sourmash.bio {
  redir https://branchwater-api.jgi.doe.gov{uri} 308
}

http://sourmash.bio {
  redir https://sourmash.readthedocs.org{uri} permanent
}

http://sourmash-bio.fly.dev {
  redir https://sourmash.bio{uri} permanent
}
